.skill {
    width: 250px;
    min-height: 50px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.icon {
    width: 60px;
    height: 60px;
    background-color: lightskyblue;
}

.skillTitle {

}


.description {
    text-align: center;
}
