.project {
    width: 300px;
    /*height: 400px;*/
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.projectImg {
    width: 300px;
    height: 300px;
    background-color: #d4ffc0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.projectImg img {
    opacity: 0.7;
}

.projectTitle {
    background-color: #ffd4f0;
    margin-left: 20px;
}

.description {
    background-color: #ffd4f0;
    text-align: start;
   margin: 0 20px 20px 20px;
}

.button {
    width: 100px;
    height: 40px;
    background-color: lightgrey;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}