@import "../common/styles/sass/variabless.scss";
@import "../common/styles/sass/mixins";

.footerBlock {
  background-color: $bgSecondColor;

  .footerContainer {
    flex-direction: column;
    justify-content: flex-start;

    .title {
      font-size: 22px;
      color: $textColor;
      font-family: $titleFontFamily;
    }

    .socialIcons {
      display: flex;
      justify-content: space-between;
      width: 300px;
      font-family: $textFontFamily;

      .socialIcon {
        text-decoration: none;
        color: $textColor;
        font-size: 14px;
      }
    }

    .copyright {
      @include text($textFontFamily,14px,1.8);
      color: rgba(255, 255, 255, .5);
      padding: 20px 0;
    }
  }
}

