.projectsBlock {
    min-height: 100vh;
    background-color: #99d0fb;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
}

.projectsTitle{
    background-color: #ffd4f0;
}
.projects{
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}




